[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
dj-rest-auth = "*"
django-cors-headers = "*"
python-decouple = "*"
django-taggit = "*"
drf-yasg = "*"
cloudinary = "*"

[requires]
python_version = "3.8"
